# Uncomment for local development
# RUN_ENVIRONMENT=local

KAFKA_PRODUCER_CONFIG__BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PRODUCER_CONFIG__SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_PRODUCER_CONFIG__SASL_MECHANISM=PLAIN
KAFKA_PRODUCER_CONFIG__SASL_USERNAME=SASL_USERNAME
KAFKA_PRODUCER_CONFIG__SASL_PASSWORD=SASL_PASSWORD
KAFKA_PRODUCER_SUCCESS_TOPIC=esgf.local.success
KAFKA_PRODUCER_ERROR_TOPIC=esgf.local.error

KAFKA_CONSUMER_CONFIG__BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_CONFIG__SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_CONSUMER_CONFIG__SASL_MECHANISM=PLAIN
KAFKA_CONSUMER_CONFIG__SASL_USERNAME=SASL_USERNAME
KAFKA_CONSUMER_CONFIG__SASL_PASSWORD=SASL_PASSWORD
KAFKA_CONSUMER_CONFIG__GROUP_ID=esgf-west
KAFKA_CONSUMER_CONFIG__AUTO_OFFSET_RESET=earliest
KAFKA_CONSUMER_TOPICS=esgfng

CONSUMER_NODE=globus
CONSUMER_CLIENT__GLOBUS_CLIENT_ID=GLOBUS_CLIENT_ID
CONSUMER_CLIENT__GLOBUS_CLIENT_SECRET=GLOBUS_CLIENT_SECRET
CONSUMER_CLIENT__GLOBUS_SEARCH_INDEX=search_index
CONSUMER_CLIENT__STAC_SERVER=esgf.globus.io
